---
interface Props {
  title: string;
  id: string;
  link?: string; // Optional for links
  bgClass: string;
  textClass: string;
  mobile: boolean;
  arrow: boolean;
  type?: "button" | "submit"; // Optional for forms
}

const { title, id, link, bgClass, textClass, mobile, arrow, type } = Astro.props;
---

{link ? (
  <a
    href={link}
    id={id}
    class={`${bgClass} ${textClass} pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 item:start font:sans font:bold row:x-center ${
      !mobile ? "hidden /sm/ row:x-center:y-center" : "row:x-center:y-center"
    }`}
  >
    {title}
    {arrow && <img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg" />}
  </a>
) : (
  <button
    type={type || "button"}
    id={id}
    class={`${bgClass} ${textClass} pd-l:d4 pd-r:d4 pd-t:d2 pd-b:d2 item:start font:sans:bold row:x-center ${
      !mobile ? "hidden /sm/ row:x-center:y-center" : "row:x-center:y-center"
    }`}
  >
    {title}
    {arrow && <img class="mg-l:d3 h:d7 w:auto" src="/images/arrowright.svg" />}
  </button>
)}